<h1> Enter your mail requirements </h1>
<form action = "/send" method = "post" enctype="multipart/form-data">
	HTML Template Upload- <input type="file" name="templateSelected" accept=".html, .htm">
	<br> <br>
	Excel Sheet Upload - <input type="file" name="sheetSelected" accept=".xlsx, .xls, .csv"/>
	<br> <br>
  	<input type="submit">
</form>