<h1> Enter your mail requirements </h1>
<form action = "/upload" method = "post" enctype="multipart/form-data">
	Name Field ID in sheet - <input type="text" name="fieldSheet">
	<br> <br>
	Name Field ID in template- <input type="text" name="fieldTemplate">
	<br> <br>
	HTML Template Upload- <input type="file" name="templateSelected" accept=".html">
	<br> <br>
	Excel Sheet Upload - <input type="file" name="sheetSelected" accept=".xlsx, .xls, .csv"/>
	<br> <br>
  	<input type="submit">
</form>