<h1> Check the desired mail list </h1>

<h3> <a href = "/sample" target="_blank"> Check out the sample here </a> </h3>

<form action="/send" method = "POST">
	Name Field ID in sheet - <input type="text" name="fieldSheet">
	<br> <br>
	Name Field ID in template- <input type="text" name="fieldTemplate">
	<br> <br>
	<input type = "submit">
</form>